<div *ngIf="resultLength" >
<h2>The list of products</h2>
<!-- <table border="solid" > -->
    <ul *ngFor="let prod of productList" (mouseover)="onSelect(prod)" >
        <!-- <tr><td> -->
            <li >{{prod.PRODCODE}} - {{prod.PRODNAME}}<button type="button" class="btn btn-primary" (click)=routeUpdate(prod._id)>
                    <span class="glyphicon glyphicon-edit"></span>
                    </button>  
                    <button type="button" class="btn btn-danger" (click)=delete(prod._id)>
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </li>
        <!-- </td><td> -->
            
        <!-- </td></tr> -->
      </ul>
<!-- </table> -->
<!-- <ngb-pagination [collectionSize]="resultLength"  aria-label="Default pagination"></ngb-pagination> -->
<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</div>
<div *ngIf="!resultLength" >
<h2>To find the products search using above search box</h2>
</div>