<div class="container" *ngIf="!hidden">
    <div class="row">
        <h2>Update Company details</h2>
      <!-- <div class="col-sm-4"> -->
          <form #custform="ngForm" (ngSubmit)="onSubmit(custform.value)" class="well">
              <!-- <div  class="form-group"> -->
                  <!-- <label>Product Picture</label> -->
                  <!-- <input type="file" #fieldRef class="form-control"   name="prodpic" [(ngModel)]= (change)="changeListener()"> -->
              <!-- </div> -->
              <!-- <div  class="form-group">
                <label>CUSTOMER CODE</label>
                <input type="text" class="form-control"   name="CUSTCODE" [(ngModel)]=>
            </div> -->
            <div class="row">
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Company Type</label>
                      <!-- <input type="text" class="form-control"  name="COMPANYTYPE" [(ngModel)]=> -->
                      <select required class="form-control" #companyType name="COMPANYTYPE" [(ngModel)]=COMPANYTYPE (change)=onChange(companyType.value) >
                          <option value="Pharma" >Pharma</option>
                          <option value="Automobile"  >Automobile</option>
                          <option value="Banking">Banking</option>
                      </select>
                  </div>
        
                </div>
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Company Name</label>
                      <input type="text" class="form-control"  name="COMPANYNAME" required [(ngModel)]=COMPANYNAME>
                  </div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Company Address</label>
                      <input type="text" class="form-control"  name="COMPANYADD" required [(ngModel)]=COMPANYADD>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Company Phone</label>
                      <input type="number" class="form-control"  name="COMPANYPHONE" required [(ngModel)]=COMPANYPHONE>
                  </div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Primary Contact Name</label>
                      <input type="text" class="form-control"  name="PRIMARYCONTACTNAME" required [(ngModel)]=PRIMARYCONTACTNAME>
                  </div>
        
                </div>
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Primary Conatact Number</label>
                      <input type="number" class="form-control"  name="PRIMARYCONTACTNUMBER" required [(ngModel)]=PRIMARYCONTACTNUMBER>
                  </div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Secondary Contact Name</label>
                      <input type="text" class="form-control"  name="SECONDARYCONTACTNAME" [(ngModel)]=SECONDARYCONTACTNAME>
                  </div>
        
                </div>
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Secondary Contact Number</label>
                      <input type="number" class="form-control"  name="SECONDARYCONTACTNUMBER" [(ngModel)]=SECONDARYCONTACTNUMBER>
                  </div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Accountant Contact Name</label>
                      <input type="text" class="form-control"  name="ACCOUNTANTCONTACTNAME" [(ngModel)]=ACCOUNTANTCONTACTNAME>
                  </div>
        
                </div>
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Accountant Contact Number</label>
                      <input type="number" class="form-control"  name="ACCOUNTANTCONTACTNUMBER" [(ngModel)]=ACCOUNTANTCONTACTNUMBER>
                  </div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>GST Number</label>
                      <input type="text" class="form-control"  name="GSTNO" required [(ngModel)]=GSTNO>
                  </div>
        
                </div>
                <div class="col-sm-6">
                      <div  class="form-group">
                          <label>LFNO</label>
                          <input type="text" class="form-control"  name="LFNO" [(ngModel)]=LFNO>
                      </div>
                    </div>

        </div>
        <div class="row" *ngIf="showDl"  >
                <div class="col-sm-6">
                  <div  class="form-group">
                      <label>Company DL 1</label>
                      <input type="text" class="form-control"  name="COMPDLNO1" required [(ngModel)]=COMPDLNO1>
                  </div>
                </div>
                  <div class="col-sm-6">
                          <div  class="form-group">
                              <label>Company DL 2</label>
                              <input type="text" class="form-control"  name="COMPDLNO2" required [(ngModel)]=COMPDLNO2>
                        </div>
                </div>
        </div>


            <button  type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
          </form>
        <!-- <enter-product  (emitHidden)=changeHidden($event)  ></enter-product> -->
      <!-- </div> -->
    </div>
  </div>